# Ignore everything recursively
*

# But not the .ts files
!*.ts
!*.tsx
!*.js
!*.jsx
!*.json

# Check subdirectories too
!*/

# Ignore all in the build folder (compiled from typescript)
/dist/*
/build/*